
.about_title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 50px;
    color: white;
}

.about_header{
    background-color: #a9bed2;
    padding: 10px;
}

.about_main{
    background-color: white;
    position: absolute;
    height: 100%;
    overflow: none;
}

.about_text{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    line-height: 30px;
}

.about_footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #a9bed2;
    color: white;
    padding: 10px;
    font-size: 15px;
}