.admin-dashboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dashboard-header {
    margin-bottom: 20px;
}

.dashboard-header h1 {
    font-size: 24px;
    color: #333;
}

.dashboard-tabs {
    display: flex;
    justify-content: flex-start;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.tab {
    flex: 1;
    padding: 10px 0;
    background-color: #ccc;
    color: #555;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 0; /* Ensure the container is above other elements */

}

.tab:hover {
    background-color: #ddd;
    color: #333;
}

.tab.active {
    background-color: #fff;
    color: #333;
    border-top: 4px solid #007bff;
    border-bottom: none;
}

.tab.active-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dashboard-item {
    position: relative;
    background-color: #e3eaf8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.333% - 20px);
    margin-right: 20px;
    cursor: pointer;
}

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.dashboard-item p:first-child {
    font-weight: bold;
}

.dashboard-item p:last-child {
    color: #6c757d;
}


.item-options {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #555;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content button {
    color: #555;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.options-dots {
    position: absolute;
    top: 10px;
    right: 10px;
}

.options-dots .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 30px; /* Adjust the width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Move it closer to the right */
}

.options-dots:hover .dropdown-content {
    display: block;
}

.options-dots .dropdown-content button {
    color: #555;
    padding: 6px 10px; /* Adjust the padding as needed */
    margin: 0; /* Remove the default margin */
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 0; /* Ensure the container is above other elements */

}

.options-dots .dropdown-content button:hover {
    background-color: #f1f1f1;
}

.icon {
    margin-left: 5px;
    font-size: 24px;
}

.icon-exclamation {
    color: #cf6932;
}

.icon-eye {
    background-image: url('../../images/eye.png'); /* Adjusted path */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    width: 24px; /* Increase the width */
    height: 24px; /* Increase the height */
    display: inline-block; /* Ensure it's displayed as a block element */
}

/* Positioning the three dots in the top right corner */
.options-dots {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Styles for 'All' tab */
.search-container-all {
    position: absolute;
    top: 470px;
    right: 80px; /* Adjusted right position */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px; /* Set a fixed width to prevent movement */
}

/* Styles for 'Visible' tab */
.search-container-visible {
    position: absolute;
    top: 470px;
    right: 80px; /* Adjusted right position */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px; /* Set a fixed width to prevent movement */
}

/* Styles for 'Hidden' tab */
.search-container-hidden {
    position: absolute;
    top: 470px;
    right: 80px; /* Adjusted right position */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px; /* Set a fixed width to prevent movement */
}

.search-container-unapproved {
    position: absolute;
    top: 470px; /* Adjusted top position */
    right: 80px; /* Adjusted right position */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px; /* Set a fixed width to prevent movement */
}

.advanced-search-title {
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 65px;
    font-weight: bold;
    text-decoration: underline;
}

.search-boxes {
    display: flex;
    flex-direction: column;
}

.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-box label {
    margin-right: 10px;
    min-width: 100px;
}

.search-box input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.search-container-hidden .submit-button {
    bottom: 100px;
    right: 50px;
}

/* Styles for the submit button on the 'All' tab */
.submit-button.submit-button-all {
    padding: 8px 16px; /* Adjusted padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Position the submit button absolutely */
    bottom: 1720px; /* Adjusted bottom position */
    right: 170px; /* Adjusted right position */
    max-width: 100px; /* Adjust the maximum width as needed */
}

/* Styles for the submit button on the 'Visible' tab */
.submit-button.submit-button-visible {
    padding: 8px 16px; /* Adjusted padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Position the submit button absolutely */
    bottom: 365px; /* Adjusted bottom position */
    right: 170px; /* Adjusted right position */
    max-width: 100px; /* Adjust the maximum width as needed */
}

/* Styles for the submit button on the 'Hidden' tab */
.submit-button.submit-button-hidden {
    padding: 8px 16px; /* Adjusted padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Position the submit button absolutely */
    bottom: 365px; /* Adjusted bottom position */
    right: 170px; /* Adjusted right position */
    max-width: 100px; /* Adjust the maximum width as needed */
}

/* Styles for the submit button on the 'Unapproved' tab */
.submit-button.submit-button-unapproved {
    padding: 8px 16px; /* Adjusted padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Position the submit button absolutely */
    bottom: 500px; /* Adjusted bottom position */
    right: 170px; /* Adjusted right position */
    max-width: 100px; /* Adjust the maximum width as needed */
}


.submit-button:hover {
    background-color: #0056b3;
}


.sort-switch {
    padding-top: 500px;
    position: absolute;
    padding-right: 100px;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    align-items: center;
}

.sort-switch p {
    margin-right: 10px;
}

.sort-switch select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.approve-decline-options {
    position: absolute;
    top: 80px;
    right: 10px;
    display: flex;
  }
  
  .approve-decline-options button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .approve-decline-options button:first-child {
    background-color: green;
    color: white;
  }
  
  .approve-decline-options button:last-child {
    background-color: red;
    color: white;
  }
  .approve-decline-options button:hover {
    filter: brightness(90%); /* Darken color on hover */
  }