.contact_header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.contact_header .contact_title {
  margin: 0;
  font-size: 2rem;
}

.contact_content {
  padding: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.contact_footer {
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}
