div {
  background-color: #f4f4f4;
}

.title-header {
  background-color: #333;
  color: #FFF;
  text-align: center;
  padding: 1rem 0;
}

.title {
  margin: 0;
  font-size: 2rem;
}

.help-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  color: #333;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

