.app {
  background-color: #84aacd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px; /* Adjust as needed */
}
.search-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.search-bar {
  display: flex;
  align-items: center;
   /* Adjust as needed */
  height: 50px; /* Set a fixed height */
}

.search-bar input {
  margin-left: 10px;
  margin-right: 9px;
  width: 615px;
  padding: 10px;
  border: 2px solid #edede0;
  border-radius: 5px;
  flex-grow: 1; /* Expand input to fill available space */
  font-size: 16px;
}



.search-options select {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
}


.search-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}


.search {
  padding: 10px;
  border: 2px solid #edede0;
  border-radius: 5px;
  margin-bottom: 10px;
  flex-grow: 2; /* Expand to fill available space */
  font-size: 16px;
  width: 100%; /* Set width to 100% */
}

.submit-button {
  padding: 10px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 95px;
}

.submit-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.search-form {
  display: flex;
  align-items: center;
}

.box {
  background-color: #f8f7e9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px; /* Adjust as needed */
  display: flex; /* Make the box a flex container */
  justify-content: space-between; /* Push items to the start and end of the container */
  align-items: center; /* Center items along the cross axis */
  cursor: pointer; /* Add cursor pointer to indicate clickability */
}

.country-flag-container {
  margin-right: 20px; /* Add some space between the flag and the text */
}

.country-flag {
  width: 65px; /* Adjust as needed */
  height: auto; /* Let the height adjust proportionally */
  object-fit: contain; /* This property ensures that the entire image fits inside the container */
}

.box p {
  margin: 0;
  font-size: 16px; /* Adjust as needed */
}

.box p:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.box p:last-child {
  color: #6c757d;
  font-size: 14px;
}
