.app {
  background-color: #a9bed2;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px; /* Adjust as needed */
}

.search {
  padding: 10px;
  border: 2px solid #edede0;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 300px; /* Adjust as needed */
  font-size: 16px;
}

.search::placeholder {
  color: #6c757d;
}

.box {

  background-color: #f8f7e9;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px; /* Adjust as needed */
  display: flex; /* Make the box a flex container */
  justify-content: space-between; /* Push items to the start and end of the container */
  align-items: center; /* Center items along the cross axis */ 
  cursor: pointer; /* Add cursor pointer to indicate clickability */
}

.country-flag-container {
  margin-right: 20px; /* Add some space between the flag and the text */
}

.country-flag {
  width: 65px; /* Adjust as needed */
  height: auto; /* Let the height adjust proportionally */
  object-fit: contain; /* This property ensures that the entire image fits inside the container */
}

.box p {
  margin: 0;
  font-size: 16px; /* Adjust as needed */
}

.box p:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.box p:last-child {
  color: #6c757d;
  font-size: 14px;
}