body{
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 51, 102);
}

/* reference video for map styling https://www.youtube.com/watch?v=l-9YQUmTOdI */

/* map country styling */
svg path{
    fill: rgb(56, 78, 29);
    stroke: rgb(34, 59, 5);
    stroke-width: 1;
}

/* hovering over a country */
svg path:hover{
    fill: rgb(34, 59, 5);
    transition: 0.3s;
    cursor: pointer;
}

/* navigation bar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 98%;
    overflow: x-hidden;
}

/* navigation tab text details */
li a{
    display: block;
    color: white;
    text-align: left;
    padding: 20px 30px;
    text-decoration: none;
}

/* drop down button styling */
.dropdown-button {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    display: block;
    color: white;
    text-align: left;
    padding: 20px 30px;
    text-decoration: none;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
}

/* toggels when user clicks the Filter tab */
.selected{
    background-color: rgb(0, 0, 0);
}

/* filter options styling */
.filter-options{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

/* color that appears when hovering over an option */
li a:hover, .dropdown-button:hover{
    background-color: rgb(0, 0, 0, 0.5);
}

/* icon styling */
.material-icons{
    float: right;
    padding-right: 10px;
}

/* search bar styling */
li input{
    font-family: 'Times New Roman', serif;
    padding: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
}

/* info button styling */
.info-button{
    float: right;
    margin-top: 20px;
    margin-right: 35px;
    padding: 5px;
    width: 25px;
}


