
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
}

.expanded {
  transform: translateX(0);
}

.collapsed {
  transform: translateX(-100%);
}

.toggle-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border: none;
  padding: 10px; /* Original size */
  cursor: pointer;
  z-index: 1010;
  display: flex; /* Ensures content is centered */
  align-items: center; /* Center alignment for the icon */
  justify-content: center; /* Center alignment for the icon */
}

.toggle-small {
  padding: 1px; /* Reduce padding for a smaller button */
  font-size: 5px; /* Smaller icon size */
}

.toggle-button i.material-icons {
  font-size: 24px; /* Adjust icon size here */
}

.toggle-small i.material-icons {
  font-size: 12px; /* Smaller icon size when expanded */
}

.navbar li a, .navbar li button {
  display: flex;
  align-items: center;
  color: white;
  padding: 15px;
  text-decoration: none;
  width: 100%;
}

.navbar .material-icons {
  margin-right: 15px;
}

.navbar li:hover, .navbar li a:hover, .navbar li button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.filter-toggle {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-toggle:hover {
  background: #222; /* Darker on hover */
}

.navbar div button {
  background: #333;
}

.navbar div button:hover {
  background: #222; /* Lighter background on hover */
}



