.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 40px; /* Adjust top position */
  width: 250px;
  height: calc(100% - 40px); /* Adjust height to fill the remaining space */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color */
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.expanded {
  transform: translateX(0);
}

.collapsed {
  transform: translateX(-250px);
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.navbar li a {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 30px;
  text-decoration: none;
}

.navbar .dropdown-button {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  display: block;
  color: white;
  text-align: left;
  padding: 20px 30px;
  text-decoration: none;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.navbar .selected {
  background-color: rgb(0, 0, 0);
}

.navbar .filter-options {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.navbar li a:hover,
.navbar .dropdown-button:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.navbar .material-icons {
  float: right;
  padding-right: 10px;
}

.navbar li input {
  font-family: 'Times New Roman', serif;
  padding: 5px;
  border: none;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 20px;
}

.navbar .info-button {
  float: right;
  margin-top: 20px;
  margin-right: 35px;
  padding: 5px;
  width: 25px;
}
